<section class="contacts">
  <h1>Contacts</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>Phone</th>
      <th>Age</th>
      <th>Address</th>
    </tr>
    <tr>
      <td>{{contacts[0].id}}</td>
      <td>{{contacts[0].firstName}}</td>
      <td>{{contacts[0].lastName}}</td>
      <td>{{contacts[0].email}}</td>
      <td>{{contacts[0].birthday | date}}</td>
      <td>{{contacts[0].phone}}</td>
      <td>{{contacts[0].age}}</td>
      <td>{{contacts[0].address?.street}} {{contacts[0].address?.houseNumber}}, {{contacts[0].address?.country}}</td>

    </tr>
  </table>
</section>
